header {
    @extend .wrap;
    @extend .grid;
    align-items: center;
    background-color: $color-white;
    padding-block: 2.5rem;
    text-align: center;
    border-bottom: 1px solid $color-grey-200;
    @media screen and (min-width: 64em){
        text-align: left;
    }
    a {
        color: $color-black;
        text-decoration: none;
    }
    .branding {
        @media screen and (min-width: 64em){
            grid-column: 1 / span 4;
        }
        a {
            font-weight: 900;
            font-size: 2rem;
        }
    }
    nav {
        @media screen and (min-width: 64em){
            grid-column: 5 / span 4;
        }
        display: flex;
        justify-content: center;
        gap: 2.5rem;
    }
    .signup {
        @media screen and (min-width: 64em){
            text-align: right;
            grid-column: 9 / span 4;
        }
        a {
            @extend .btn;
        }
    }
}